:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  background-color: white;
  
  color: rgba(20, 20, 20,1);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#app {
  top: 80px;
  
  min-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


